<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <!-- CSSファイルの読み込み -->
    <link rel="stylesheet" href="books.scss" />
    <title>Bookers2</title>
  </head>
  <body>
    <main>
      <div class="page-title">
        <h1>Ediging Book</h1>
      </div>
      　
    </main>
  </body>